#chat {
    margin: 10px;
    width: 79%;
    border: 2px solid black;
    font-family: Arial, san-serif;
    min-height: 10em;
    padding: 0.5ex;
    white-space: pre;
}

.ts {
    color: red;
}

.nick {
    color: brown;
}

.say {
}

.join {
    color: blue;
}

.me {
    color: brown;
}

.sysmsg {
    color: red;
}

.leave {
    color: blue;
}

#login {
    position: absolute;
    top: 2px;
    left: 5px;
    right: 5px;
    bottom: 6em;
    background: solid white;
}

#input {
    margin: 10px;
    height: 5em;
    width: 80%;
}

#roster-list {
    list-style: none;
    position: absolute;
    right: 0;
    width: 18%;
    top: 10px;
    border-left: 2px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 2px;
    margin: 0;
    min-height: 5em;
    border-radius: 5px 0px 0px 5px;
}

#roster-list li {
    margin: 1px;
    padding: 2px;
    padding-left: 10px;
}

#roster-list li:hover {
    background-color: #EEF;
}
