#chat {
    margin: 10px;
    width: 79%;
    border: 2px solid black;
    border-radius: 5px;
    background: #fff4f4;
    font-family: Arial, san-serif;
    min-height: 10em;
    padding: 0.5ex;
    white-space: pre-wrap;
}

.ts {
    color: #C00;
}

.nick {
    color: brown;
}

.say {
}

.join {
    color: blue;
}

.me {
    color: brown;
}

.sysmsg {
    color: red;
}

.leave {
    color: blue;
}

.subject {
    color: brown;
}

.daychange {
    text-align: center;
    font-size: 80%;
    color: #C00;
    margin: 1.2em auto 0.3em;
    width: 80%;
    border-top: 1px solid;
    padding-top: 0.2em;
}

#login {
    position: absolute;
    top: 2px;
    left: 5px;
    right: 5px;
    bottom: 6em;
    background: solid white;
}

#input {
    margin: 10px;
    height: 5em;
    width: 80%;
}

#roster {
    position: absolute; /* IE sux */
    position: fixed;
    right: 0;
    width: 18%;
    top: 10px;
    margin: 0;
}

#roster-list {
    list-style: none;
    border: 2px solid black;
    border-radius: 5px 0px 0px 5px;
    padding: 2px;
    min-height: 5em;
    background: #f8f8ff;
}

#roster-list li {
    margin: 1px;
    padding: 2px;
    padding-left: 10px;
}

#roster-list li:hover {
    background-color: #EEF;
}
